In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Datasets\\combined_datasets.csv")
df

,Unnamed: 0,category,product,Original_price,price,perc_of_unit_sold,rating,Shipping Eligibility,gender
0,0,Athletic Shoes,Nike SB Check Solar Cnvs Skateboarding Shoes f...,299.0,211.48,94.0,100.0,FREE Shipping,men
1,1,Athletic Shoes,Nike Md Runner 2 Two-Tone Textile-Mesh Suede-A...,349.0,289.99,80.0,88.0,FREE Shipping,men
2,2,Athletic Shoes,"Nike air Heights Sneaker for Women , Size 38 E...",419.0,337.48,77.0,NaN,FREE Shipping,women
3,3,Athletic Shoes,"Nike Fitness Shoes For Men , 43 EU , Black",319.0,211.48,76.0,80.0,FREE Shipping,men
4,4,Athletic Shoes,"adidas ASWEERUN Sneaker for Mens, Grey - Size ...",259.0,194.99,94.0,NaN,No FREE Shipping,men
...,...,...,...,...,...,...,...,...,...
604,175,Watches,JBW Delmare Men's 4 Genuine Diamonds Silicone ...,2624.0,575.99,72.0,92.0,FREE Shipping,men
605,176,Watches,Michael Kors Lexington Women's White Dial Stai...,762.0,564.98,28.0,76.0,FREE Shipping,women
606,177,Watches,Puma Casual Watch For Men Analog Stainless Ste...,679.0,262.98,67.0,94.0,FREE Shipping,men
607,178,Watches,"T5 Watch For Men [Rubber,Chronograph]-H3397G-B",440.0,115.49,40.0,86.0,No FREE Shipping,men
608,179,Watches,Tissot Dress Watch For Women Analog Stainless ...,1740.0,960.49,20.0,NaN,FREE Shipping,women

Visualizing the Eyewear Products

In [3]:
fd = pd.read_csv("Datasets\eyewear.csv")
fd

,item_category,item_name,item_after_discount,item_price,percentage_solds,item_rating,item_shipping,buyer_gender
0,Eyewear,"Carrera Sunglasses for Unisex , Black Aviator",650.00SAR,346.98SAR,52.0,NaN,FREE Shipping,Unisex
1,Eyewear,"Carrera Sunglasses For Unisex - Green Lens, 14...",750.00SAR,351.98SAR,25.0,80.0,FREE Shipping,Unisex
2,Eyewear,"Ray-Ban Sunglasses For Men, Grey, 3386, Aviato...",770.00SAR,427.98SAR,89.0,92.0,FREE Shipping,men
3,Eyewear,"Ray-Ban Aviator Classic Sunglasses for Men , R...","1,050.00SAR",308.00SAR,81.0,96.0,FREE Shipping,men
4,Eyewear,Ray-Ban RB1971 914751 Square Sunglasses for Un...,997.00SAR,444.99SAR,57.0,96.0,FREE Shipping,Unisex
...,...,...,...,...,...,...,...,...
149,Eyewear,Ray-Ban Rectangle Unisex Sunglasses - 3538 189...,950.00SAR,409.49SAR,33.0,NaN,FREE Shipping,Unisex
150,Eyewear,"Oakley Men's Crossrange Sunglasses, Matte Blac...","1,100.00SAR",558.99SAR,16.0,100.0,FREE Shipping,men
151,Eyewear,Ray-Ban Square Unisex Sunglasses - 4258 6231/1...,840.00SAR,360.99SAR,22.0,NaN,FREE Shipping,Unisex
152,Eyewear,Ray-Ban Clubmaster Women's Sunglasses - Rb2183...,970.00SAR,433.48SAR,NaN,100.0,FREE Shipping,women
153,Eyewear,Ray-Ban Round Unisex Sunglasses - Rb2447-11604...,"1,061.00SAR",360.99SAR,85.0,74.0,FREE Shipping,Unisex